<div class="grid-container">
    <div class="video">
    <section id="sect1" class="sect">
        <video src="https://res.cloudinary.com/df7eewfeo/video/upload/v1677941292/video_a1klet.mp4" autoplay="true" muted="true" loop="true"></video>
        <ul class="t">
            <li>Be Happier</li>
            <li>Be Stronger</li>
            <li>Be Faster</li>
            <li>Be Better</li>
            <li>BE YOURSELF</li>
        </ul>
      </section>
    </div>
    <div class="text">
        
    </div>
    <div class="products">
        <div class="item1"></div>
        <div class="item2"></div>
        <div class="item3"></div>
        <div class="item4"></div>
        <div class="item5"></div>
    </div>
</div>


