<div class="container-fluid">
    <div class="video">
        <section id="sect1" class="sect">
            <video src="https://res.cloudinary.com/df7eewfeo/video/upload/v1677941292/video_a1klet.mp4" autoplay="true" muted="true" loop="true"></video>

        </section>
    </div>
    <div class="text">
        
    </div>
    <div class="sellers"><h1>Top 5 Sellers</h1></div>
    <div class="products" *ngIf="articles.length > 0">
        
        <div class="item1">
            <div class="card" >
                <img class="card-image" src="{{ articles[0].listImage[0].url }}" width="160 px" alt="{{ articles[0].name }}">
                <div class="card-content">
                <h3 class="card-title">{{ articles[0].name }}</h3>
                <p class="card-description">{{ articles[0].description }}</p>
                <p class="card-description">{{ articles[0].price }}€</p>
                <p class="card-description" >Stock: {{ articles[0].stock }}</p>
                <p *ngIf="admin != '' && articles.length > 0">
                <input id="form1" min="0" #inputNumero1  type="number" max="{{articles[0].stock}}" [defaultValue]="1" />
                <br><br>
                <button class="card-button" (click)="addToCart(articles[0].id, inputNumero1.valueAsNumber)" *ngIf="articles[0].stock > 0">Add to cart</button>
                </p>
                </div>
          </div>
          
        </div>
        <div class="item2">
            <div class="card" >
                <img class="card-image" src="{{ articles[1].listImage[0].url }}" width="160 px" alt="{{ articles[1].name }}">
                <div class="card-content">
                <h3 class="card-title">{{ articles[1].name }}</h3>
                <p class="card-description">{{ articles[1].description }}</p>
                <p class="card-description">{{ articles[1].price }}€</p>
                <p class="card-description">Stock: {{ articles[1].stock }}</p>
                <p *ngIf="admin != '' && articles.length > 0">
                <input id="form1" min="0" #inputNumero2  type="number" max="{{articles[1].stock}}" [defaultValue]="1"/>
                <br><br>
                <button class="card-button" (click)="addToCart(articles[1].id, inputNumero2.valueAsNumber)" *ngIf="articles[1].stock > 0">Add to cart</button>
                </p>
                </div>
          </div>
        </div>
        <div class="item3">
            <div class="card" >
                <img class="card-image" src="{{ articles[2].listImage[0].url }}" width="160 px" alt="{{ articles[2].name }}">
                <div class="card-content">
                <h3 class="card-title">{{ articles[2].name }}</h3>
                <p class="card-description">{{ articles[2].description }}</p>
                <p class="card-description">{{ articles[2].price }}€</p>
                <p class="card-description">Stock: {{ articles[2].stock }}</p>
                <p *ngIf="admin != '' && articles.length > 0">
                <input id="form1" min="0" #inputNumero3  type="number" max="{{articles[2].stock}}" [defaultValue]="1"/>
                <br><br>
                <button class="card-button" (click)="addToCart(articles[2].id, inputNumero3.valueAsNumber)" *ngIf="articles[2].stock > 0">Add to cart</button>
                </p>
                </div>
          </div>
        </div>
        <div class="item4">
            <div class="card" >
                <img class="card-image" src="{{ articles[3].listImage[0].url }}" width="160 px" alt="{{ articles[3].name }}">
                <div class="card-content">
                <h3 class="card-title">{{ articles[3].name }}</h3>
                <p class="card-description">{{ articles[3].description }}</p>
                <p class="card-description">{{ articles[3].price }}€</p>
                <p class="card-description">Stock: {{ articles[3].stock }}</p>
                <p *ngIf="admin != '' && articles.length > 0">
                <input id="form1" min="0" #inputNumero4  type="number" max="{{articles[3].stock}}" [defaultValue]="1"/>
                <br><br>
                <button class="card-button" (click)="addToCart(articles[3].id, inputNumero4.valueAsNumber)" *ngIf="articles[3].stock > 0">Add to cart</button>
                </p>
                </div>
          </div>
        </div>
        <div class="item5">
            <div class="card" >
                <img class="card-image" src="{{ articles[4].listImage[0].url }}" width="160 px" alt="{{ articles[4].name }}">
                <div class="card-content">
                <h3 class="card-title">{{ articles[4].name }}</h3>
                <p class="card-description">{{ articles[4].description }}</p>
                <p class="card-description">{{ articles[4].price }}€</p>
                <p class="card-description">Stock: {{ articles[4].stock }}</p>
                <p *ngIf="admin != '' && articles.length > 0">
                <input id="form1" min="0" #inputNumero5  type="number" max="{{articles[4].stock}}" [defaultValue]="1"/>
                <br><br>
                <button class="card-button" (click)="addToCart(articles[4].id, inputNumero5.valueAsNumber)"*ngIf="articles[4].stock > 0">Add to cart</button>
                </p>
                </div>
          </div>
        </div>
    </div>
</div>

