<div class="container-fluid">
    <div class="video">
        <section id="sect1" class="sect">
            <video src="https://res.cloudinary.com/df7eewfeo/video/upload/v1677941292/video_a1klet.mp4" autoplay="true" muted="true" loop="true"></video>

        </section>
    </div>
    <div class="text">
        
    </div>
    <div class="products">
        <div class="item1"><img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1676498023/8756-VIDACTIVA-GmheC_b2wkpy.jpg" alt="Item mas vendido 1" width="160 px"></div>
        <div class="item2"><img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1676498023/8756-VIDACTIVA-GmheC_b2wkpy.jpg" alt="Item mas vendido 2" width="160 px"></div>
        <div class="item3"><img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1676498023/8756-VIDACTIVA-GmheC_b2wkpy.jpg" alt="Item mas vendido 3" width="160 px"></div>
        <div class="item4"><img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1676498023/8756-VIDACTIVA-GmheC_b2wkpy.jpg" alt="Item mas vendido 4" width="160 px"></div>
        <div class="item5"><img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1676498023/8756-VIDACTIVA-GmheC_b2wkpy.jpg" alt="Item mas vendido 5" width="160 px"></div>
    </div>
</div>


