<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- Navigation -->
<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" style="text-transform: uppercase;"> VidActiva</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" >

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="admin == 'ADMIN'">
            <a class="nav-link" [routerLink]="['/user/userList']" routerLinkActive="active">User</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/articles']" routerLinkActive="active">Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/categorys']" routerLinkActive="active">Categorias</a>
          </li>


          <li class="nav-item" *ngIf="user == ''">
            <a class="nav-link" [routerLink]="['/user/login']"> {{user}}  <img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1678281573/1077114_lnras1.png" width="20px"></a>
          </li>

          <li>
            <div class="dropdown" *ngIf="user">
              <button class="dropbtn">
                <a class="nav-link" [routerLink]="['/user']"> {{user}}  <img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1678281573/1077114_lnras1.png" width="20px"></a>
              </button>
              <div class="dropdown-content">
                  <button class="logoutButton" *ngIf="user" [routerLink]="['/user']">
                      Account
                  </button>

                  <button class="logoutButton" *ngIf="user" >
                     
                      <span style="margin-left: 3px;" (click)="onLogout()">Log out</span>
                  </button>

              </div>    
          </div>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" [routerLink]="['/articles/cart']"> <img src="https://res.cloudinary.com/df7eewfeo/image/upload/v1678441778/Shopping_cart_icon.svg_axfqsj.png" width="25px"></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Vegetables</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li> 

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</div>