.container-fluid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 1fr; 
    grid-template-areas:"header"
                        "container";

    height: 100vh;


    background-color: #111010;
    background-repeat: repeat;
    padding: 0 !important;
}

.header{
    grid-area: header;
    
}
.container{
    grid-area: container;

    
}

