<!-- <table class="table table-hover" *ngIf="!error">
    <thead>
        <tr>
            <th> # </th>
            <th> Nombre </th>
            <th> price </th>
            <th> stock </th>
            <th> description </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles let i = index"> Esto es lo que tenemos que repetir por cada país que encuentre 
            <td> {{i+1}} </td>  Aquí obtendremos el número de resultado 
             <td>
                <img class="small-flag" [src]="article.images">  Aquí obtendremos la url de la bandera 
            </td> 
            <td>{{article.name}}</td>
            <td>{{article.price}}</td>
            <td>{{article.stock}}</td>
            <td>{{article.description}}</td>
            
        </tr>
    </tbody>
</table> -->

<mat-card class="example-card" *ngFor="let card of obs | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ card.name }}</mat-card-title>
      <mat-card-subtitle>{{ card.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ card.stock }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-paginator [pageSizeOptions]="[1, 2, 3, 100]"></mat-paginator>