<div class="container">
  <div class="arriba">
    <div class="boton"><a [routerLink]="['/user/add']"><button type="button" class="btn btn-success">Add user</button></a></div>
    <div class="example-header">
        <input (keyup)="applyFilter()" placeholder="Filter" [(ngModel)]="filterValue">
    </div>
  </div>
  
    <div class="example-container mat-elevation-z8">
  
      <mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
        </ng-container>
  
        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.first_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
          </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> role </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
        </ng-container>
  
  
        <ng-container  matColumnDef="button">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row"> <button  class="btn btn-danger" (click)="delete(row.username)"> Delete </button> </mat-cell>
        </ng-container>

        <ng-container  matColumnDef="button2">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row"> <a  [routerLink]="['/user/update',row.username]"><button  class="btn btn-warning"> Update </button></a> </mat-cell>
        </ng-container>
        
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>
  </div>
